* {
  padding: 0;
  margin: 0;
  user-select: none;

}

body {
  background-color: black;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

html {
  scroll-behavior: smooth;
}

/* ScrollBar */
/* width */
::-webkit-scrollbar {
  z-index: -1;
  width: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.774) 0%, rgba(0, 0, 0, 0.788) 35%, rgba(0, 0, 0, 0.507) 100%);

}

::-webkit-scrollbar {
  z-index: -1;
  width: 20px;
}

/* Track */


/* Handle */
::-webkit-scrollbar-thumb {
  z-index: -1;
  background: rgba(255, 255, 255, 0.596);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  z-index: -1;
  background: rgba(255, 255, 255, 0.44);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  z-index: -1;
  background: #ec3e04;
}

/**header**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
}

/* Doubleburger cheese  */
.datblackshi {
  z-index: 2;
  position: fixed;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.568);
  width: 100%;
  height: 50px;
}



.demontime {
  z-index: 9;
  transition-duration: 2s;

  background-color: rgba(0, 0, 0, 0.658);
  position: fixed;
  right: -100%;
  width: 100%;
  height: 100vh;
}

.demontimesupreme {
  right: 0;
}

.demontimep {
  transition-duration: 2s;
  display: block;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 50px;
  cursor: pointer;
  font-size: 50px;
  position: relative;
  left: 40%;
  top: 20%;
}

.demontime p:hover {
  color: rgb(0, 255, 42);
}

.imlosingit {
  display: none;
  background-image: url(./img/halal.png);
  cursor: pointer;
  position: fixed;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;

  z-index: 32;
}

.orami {
  background-image: url(./img/haram.png);
}

.textcontainer {


  user-select: none;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


  cursor: pointer;
  font-size: 50px;
  position: relative;
  left: 20%;
  top: 100px;

}

.textcontainer a {
  text-decoration: none;
  color: whitesmoke;
  padding-top: 10px;
}

.homechanges {
  color: rgb(255, 255, 255);
  font-size: 20px;
  display: none;
}

.homechanges2 {
  display: block;
}

/* Doubleburger cheese end */

/* Header */
.header {
  z-index: 3;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.774) 0%, rgba(0, 0, 0, 0.788) 35%, rgba(0, 0, 0, 0.507) 100%);
  height: 44px;
  text-align: center;
  list-style: none;
  text-transform: capitalize;
  font-size: 14px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header ul li {
  display: inline-block;
  padding: 20px;
  position: relative;
  bottom: 60px;

}

.header ul {
  height: 0px;
}

.header a {

  margin-bottom: 20px;
  color: gray;
  text-decoration: none;
}




.logo a {
  background-image: url(./img/logobase.png);
  background-size: 100%;
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  top: 40px;
}

.logo a:hover {
  background-image: url(./img/logohover.png);

}

.cheat {
  width: 50px;
}

.cheat a {
  background-image: url(./img/logobase.png);
  background-size: 100%;
  display: none;
  width: 50px;
  height: 50px;



}

.cheat a:hover {
  background-image: url(./img/logohover.png);


}

/* Header end */

/* Home */

#PageOne {
  position: relative;
  margin-left: 300px;
  padding-top: 200px;
  padding-bottom: 500px;

}

.flexin {
  display: flex;
  flex-wrap: wrap;
}

.p1image img {

  border-radius: 20px;
  width: 400px;
}

.ligne1 {
  background-color: rgba(255, 255, 255, 0.671);
  width: 150px;
  height: 5px;
  position: relative;
  bottom: 20px;
  right: 23px;
}

.ligne2 {
  background-color: rgba(255, 255, 255, 0.671);
  width: 150px;
  height: 5px;
  transform: rotate(90deg);
  position: relative;
  right: 100px;
  top: 47px;
}

.ligne3 {
  background-color: rgba(255, 255, 255, 0.671);
  width: 150px;
  height: 5px;
  position: relative;
  top: 20px;
  left: 278px;

}

.ligne4 {
  background-color: rgba(255, 255, 255, 0.671);
  width: 150px;
  height: 5px;
  transform: rotate(90deg);
  position: relative;
  left: 355.4px;
  bottom: 57px;
}

.ligne5 {
  background-color: rgba(0, 0, 0, 0.671);
  width: 150px;
  height: 5px;
  position: relative;
  bottom: 20px;
  right: 23px;
}

.ligne6 {
  background-color: rgba(0, 0, 0, 0.671);
  width: 150px;
  height: 5px;
  transform: rotate(90deg);
  position: relative;
  right: 100px;
  top: 47px;
}

.ligne7 {
  background-color: rgba(0, 0, 0, 0.671);
  width: 150px;
  height: 5px;
  position: relative;
  top: 20px;
  left: 278px;

}

.ligne8 {
  background-color: rgba(0, 0, 0, 0.671);
  width: 150px;
  height: 5px;
  transform: rotate(90deg);
  position: relative;
  left: 355.4px;
  bottom: 57px;
}

.myname {

  padding: 6px;
  padding-left: 100px;
  color: white;
  font-size: 60px;
}

.myname a {
  color: white;
  text-decoration: none;
  font-family: Comic Sans MS;
  font-size: 120px;
}

.Tshake:hover {
  color: yellow;
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.Tshake a:hover {


  color: rgb(3, 180, 18);

}

.fn {
  padding: 30px;
  font-size: 40px;
  padding-top: 120px;

  height: 1px;
  float: right;
  text-decoration: none;
  color: white;


}

.fn:hover {
  color: rgb(3, 180, 18);
}

.fn:hover span {
  display: none;

}

.fn:hover:before {

  content: "Haddou Mohammed Fadl-Ellah"
}

.fn span {
  opacity: 1;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}



.NEEDED {
  display: flex;
}

/* About */
#Pagetwo {

  margin-top: 300px;
  justify-content: space-between;
  padding-left: 10vw;
  display: flex;



}


.p2image {
  position: relative;
  right: 50px;
  z-index: -2;
  padding-bottom: 300px;
  padding-left: 200px;
  padding-top: 50px;
}

.p2image img {
  position: relative;
  border-radius: 20px;
  width: 400px;
}

.quote img {

  width: 50px;
}

.quote2 img {
  float: right;
  width: 50px;
}

.quote3 {
  display: none;
}

.quote4 {
  display: none;
}

.quote3 img {
  width: 20px;
}

.quote4 img {
  width: 20px;
  float: right;
}

#biographyparButBetter {
  display: none;
  font-size: 17px;
}

#biographyparButBetter a {
  color: black;
}

#biographyparButBetter a:hover {
  color: rgb(0, 22, 150);
}

#biographypar {
  margin-top: 10vh;
  width: 45vw;
  font-size: 28px;
}

#biographypar a {
  color: black;
}

#biographypar a:hover {
  color: rgb(0, 22, 150);
}




/* Page Three */
.NEEDED2 {
  display: flex;
  flex-wrap: wrap;
}

#Pagethree {

  padding-left: 10%;
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
}

.neon {
  color: rgb(255, 253, 253);
  text-shadow:
    0 0 5px rgb(235, 235, 235),
    0 0 7px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0),
    0 0 20px rgb(64, 202, 0),
    0 0 30px rgb(64, 202, 0),
    0 0 0px rgb(64, 202, 0);
}

.neon2 {
  font-size: 26px;
  color: rgb(255, 253, 253);
  text-shadow:
    0 0 5px rgb(235, 235, 235),
    0 0 7px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0),
    0 0 20px rgb(209, 32, 1),
    0 0 30px rgb(209, 32, 1),
    0 0 0px rgb(209, 32, 1);
}

.neon3 {
  font-size: 26px;
  color: rgb(255, 253, 253);
  text-shadow:
    0 0 5px rgb(235, 235, 235),
    0 0 7px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0),
    0 0 20px rgb(10, 116, 255),
    0 0 30px rgb(10, 116, 255),
    0 0 0px rgb(10, 116, 255);
}

.neon4 {
  font-size: 26px;
  color: rgb(255, 253, 253);
  text-shadow:
    0 0 5px rgb(235, 235, 235),
    0 0 7px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0),
    0 0 20px rgb(201, 8, 208),
    0 0 30px rgb(201, 8, 208),
    0 0 0px rgb(201, 8, 208);
}

.ligne9 {
  background-color: rgba(255, 255, 255, 0.671);
  width: 80px;
  height: 5px;
  position: relative;
  bottom: 20px;
  right: 37px;
}

.ligne10 {
  background-color: rgba(255, 255, 255, 0.671);
  width: 80px;
  height: 5px;
  transform: rotate(90deg);
  position: relative;
  right: 75px;
  top: 17px;
}

.ligne11 {
  background-color: rgba(255, 255, 255, 0.671);
  width: 80px;
  height: 5px;
  position: relative;
  top: 25px;
  left: 150px;

}

.ligne12 {
  background-color: rgba(255, 255, 255, 0.671);
  width: 80px;
  height: 5px;
  transform: rotate(90deg);
  position: relative;
  left: 190px;
  bottom: 19px;
}

.ligne13 {
  background-color: rgba(255, 255, 255, 0.671);
  width: 80px;
  height: 5px;
  position: relative;
  top: 25px;
  left: 181px;

}

.ligne14 {
  background-color: rgba(255, 255, 255, 0.671);
  width: 80px;
  height: 5px;
  transform: rotate(90deg);
  position: relative;
  left: 220px;
  bottom: 19px;
}

.selectorBaseline1 {
  color: white;
  padding-top: 30px;
  background-color: gray;
  width: 5px;
  height: 150px;
}

.selectorBaseline1 a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding-left: 45px;
}

.selectorBaseline1 img {
  width: 90px;
  padding-left: 10px;
}

.selectorBaseline1:hover {
  background-color: rgb(253, 123, 16);

}

.selectorBaseline2 {
  color: white;
  padding-top: 30px;
  background-color: gray;
  width: 5px;
  height: 150px;
}

.selectorBaseline2 a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding-left: 45px;
}

.selectorBaseline2 img {
  width: 90px;
  padding-left: 10px;
}

.selectorBaseline2:hover {
  background-color: rgb(7, 31, 241);

}

.selectorBaseline3 {
  color: white;
  padding-top: 30px;
  background-color: gray;
  width: 5px;
  height: 150px;
}

.selectorBaseline3 a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding-left: 45px;
}

.selectorBaseline3 img {
  padding-top: 10px;
  width: 81px;
  padding-left: 20px;
}

.selectorBaseline3:hover {

  background-color: rgb(253, 123, 16);

}

.seperate {
  position: relative;
  margin-bottom: 150px;
  height: 0;
  width: 200px;
}

.seperate2 {
  position: relative;
  top: 500px;
  height: 0;
  width: 200px;


}


.Experiencedesc {
  text-align: center;
  position: relative;
  bottom: 250px;
  left: 230px;
  right: 40px;
  border: solid;
  color: rgba(255, 255, 255, 0.637);
  border-radius: 20px;
  width: 320px;
  height: 50px;

}

.Experiencedesc p {
  line-height: 40px;
  color: black;
}




.selectorBaseline1:hover~.Experiencedesc p:before {
  transition: opacity 100ms linear;
  color: rgb(253, 123, 16);
  content: 'About 2 weeks of Html in My Web Developer Course';

}

.selectorBaseline2:hover~.Experiencedesc p:before {

  color: rgb(60, 122, 255);
  content: 'About 2 weeks of CSS in My Web Developer Course';
}

.selectorBaseline3:hover~.Experiencedesc p:before {

  color: rgb(253, 123, 16);
  content: '1 Month in Simplon The Basics Of Swift & Swift Ui';
}

/* Shake */

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}



/* Experiences to Learn */

.experiencestoLearn {
  width: 40vw;
  justify-content: space-around;
  position: relative;
  height: 0%;
  left: 25vw;
  top: 5%;
  display: flex;
  flex-wrap: wrap;
}

:root {
  --yellow-color: hsl(61, 100%, 50%);
  --blue-color: hsl(251, 49%, 55%);
  --white-color: hsl(0, 0%, 100%);
  --cyan-color: rgb(10, 116, 255);
  --green-color: hsl(128, 100%, 50%);
  --purple-color: hsl(283, 100%, 50%);
  --pink-color: rgb(201, 8, 208);
}

/* Aloooota Glowing Buttons */
/* Yellow */
.glowing-btn {
  position: relative;
  height: 100px;
  width: 100px;
  color: var(--yellow-color);
  cursor: pointer;

  border: 0rem solid var(--yellow-color);
  border-radius: 0.25em;
  background: none;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;

}

.glowing-btn img {
  width: 100px;
}





.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  filter: blur(0em);


  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--yellow-color);
  box-shadow: 0 0 2rem 0rem var(--yellow-color);


}

.glowing-btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: none;
  animation: none;
  transform: scale(1.1);
}



.glowing-btn:hover:after {
  opacity: 1;
}

/* Yellow ENd */
/* Blue */
.glowing-btn2 {
  position: relative;
  height: 100px;
  width: 100px;
  color: var(--blue-color);
  cursor: pointer;

  border: 0rem solid var(--blue-color);
  border-radius: 0.25em;
  background: none;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;

}

.glowing-btn2 img {
  width: 100px;
}





.glowing-btn2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  filter: blur(0em);


  pointer-events: none;
}

.glowing-btn2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--blue-color);
  box-shadow: 0 0 2rem 0rem var(--blue-color);

}

.glowing-btn2:hover {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: none;
  animation: none;
  transform: scale(1.1);
}




.glowing-btn2:hover:after {
  opacity: 1;
}

/* White */
.glowing-btn3 {
  position: relative;
  height: 100px;
  width: 100px;
  color: var(--white-color);
  cursor: pointer;

  border: 0rem solid var(--white-color);
  border-radius: 0.25em;
  background: none;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;

}

.glowing-btn3 img {
  width: 100px;
}





.glowing-btn3::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  filter: blur(0em);


  pointer-events: none;
}

.glowing-btn3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--white-color);
  box-shadow: 0 0 2rem 0rem var(--white-color);

}

.glowing-btn3:hover {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: none;
  animation: none;
  transform: scale(1.1);
}


.glowing-btn3:hover:after {
  opacity: 1;
}


/* Cyan */
.glowing-btn4 {
  position: relative;
  height: 100px;
  width: 100px;
  color: var(--cyan-color);
  cursor: pointer;

  border: 0rem solid var(--cyan-color);
  border-radius: 0.25em;
  background: none;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;

}

.glowing-btn4 img {
  width: 100px;
}





.glowing-btn4::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  filter: blur(0em);


  pointer-events: none;
}

.glowing-btn4::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--cyan-color);
  box-shadow: 0 0 2rem 0rem var(--cyan-color);

}

.glowing-btn4:hover {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: none;
  animation: none;
  transform: scale(1.1);
}




.glowing-btn4:hover:after {
  opacity: 1;
}

/* Green */
.glowing-btn5 {
  position: relative;
  height: 100px;
  width: 100px;
  color: var(--green-color);
  cursor: pointer;

  border: 0rem solid var(--green-color);
  border-radius: 0.25em;
  background: none;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;

}

.glowing-btn5 img {
  width: 100px;
}





.glowing-btn5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  filter: blur(0em);


  pointer-events: none;
}

.glowing-btn5::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--green-color);
  box-shadow: 0 0 2rem 0rem var(--green-color);

}

.glowing-btn5:hover {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: none;
  animation: none;
  transform: scale(1.1);
}



.glowing-btn5:hover:after {
  opacity: 1;
}

/* purple */
.glowing-btn6 {
  position: relative;
  height: 100px;
  width: 100px;
  color: var(--purple-color);
  cursor: pointer;

  border: 0rem solid var(--purple-color);
  border-radius: 0.25em;
  background: none;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;

}

.glowing-btn6 img {
  width: 100px;
}





.glowing-btn6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  filter: blur(0em);


  pointer-events: none;
}

.glowing-btn6::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--purple-color);
  box-shadow: 0 0 2rem 0rem var(--purple-color);

}

.glowing-btn6:hover {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: none;
  animation: none;
  transform: scale(1.1);
}





.glowing-btn6:hover:after {
  opacity: 1;
}



/* Page Four */
#Pagefour {
  gap: 40px;
  padding-left: 150px;
  padding-right: 450px;
  position: relative;
  top: 800px;
  display: flex;
  margin-bottom: 1500px;
  justify-content: space-between;

}

.p4image {
  z-index: 0;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;

  transition: transform .2s;
  /* Animation */
}

.p4image img {
  z-index: 0;
  border-radius: 20px;
  width: 400px;
}

.p4image:hover {
  transform: scale(1.1);

}

.quote img {

  width: 50px;
}

.quote2 img {
  float: right;
  width: 50px;
}

.quote5 img {
  width: 40px;
}

.quote6 img {
  width: 40px;
  margin-left: 75%;

}

.Resumepar {
  font-size: 40px;
  width: 650px;
}

.Resumepar span {
  color: rgb(255, 0, 0);
}

.Resumepar span:hover {
  color: rgb(0, 22, 150);
}

.ahoyo {
  position: relative;
  top: 90px;
  justify-content: center;
}

/* PageFive */

#PageFive {
  margin-bottom: 1000px;

}

.zoom {
  margin-left: 45%;
}



.WebSiteDesign {

  position: relative;
  height: 20vw;
  width: 20vw;
  color: var(--yellow-color);
  cursor: pointer;
  transition-duration: 1s;
  border: 0rem solid var(--yellow-color);
  border-radius: 0.25em;
  background: none;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;

}


.WebSiteDesign p {

  color: var(--white-color);
  font-size: medium;
  text-align: center;

}



.WebSiteDesign::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  filter: blur(0em);


  pointer-events: none;
}

.WebSiteDesign::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--cyan-color);
  box-shadow: 0 0 2rem 0rem var(--cyan-color);


}

.WebSiteDesign:hover {
  color: rgba(205, 12, 12, 0.8);
  text-shadow: none;
  animation: none;
  transform: scale(1.1);
}

.WebSiteDesign:hover:after {
  opacity: 1;
}

.RealWebsites {
  gap: 50px;
  width: 100%;
  margin-top: 300px;
  padding-left: 10vw;
  display: flex;
  flex-wrap: wrap;
}

.RealWebsites img {
  width: 20vw;
}

/* Games */
.zoom2 {
  margin-left: 35vw;
  margin-top: 20%;
}


.GameDesign {

  position: relative;
  height: 20vw;
  width: 20vw;
  color: var(--yellow-color);
  cursor: pointer;
  transition-duration: 1s;
  border: 0rem solid var(--yellow-color);
  border-radius: 0.25em;
  background: none;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;

}


.GameDesign p {

  color: var(--white-color);
  font-size: medium;
  text-align: center;

}



.GameDesign::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  filter: blur(0em);


  pointer-events: none;
}

.GameDesign::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--pink-color);
  box-shadow: 0 0 2rem 0rem var(--pink-color);


}

.GameDesign:hover {
  color: rgba(205, 12, 12, 0.8);
  text-shadow: none;
  animation: none;
  transform: scale(1.1);
}

.GameDesign:hover:after {
  opacity: 1;
}

/* Mobile Support */

@media screen and (max-width: 600px) {


  .NEEDED2 {
    display: block;
  }

  .GameDesign {

    position: relative;
    height: 35vh;
    width: 35vh;

  }

  .WebSiteDesign {

    position: relative;
    height: 35vh;
    width: 35vh;

  }

  .RealWebsites img {
    width: 35vh;
  }

  .zoom {
    margin-left: 25%;
  }

  .zoom2 {
    margin-left: 25vw;
  }

  .RealWebsites {
    gap: 150px;
    padding-left: 10%;
  }

  .ahoyo {
    top: 40px;
  }

  .Resumepar {
    margin-left: 20px;
    font-size: 25px;
    width: 350px;
  }

  .imlosingit {
    display: block;
  }

  .p4image img {
    width: 270px;

  }

  #Pagefour {
    top: 1000px;
    padding-left: 0px;
    padding-right: 0px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header {
    z-index: 2;
    display: flex;
    justify-content: center;
  }

  .seperate {
    padding-bottom: 120px;
    padding-right: 0px;
    position: relative;
    left: 52px;
  }

  .seperate2 {
    top: 0vh;
    left: 25vw;


  }

  .experiencestoLearn {
    z-index: -1;
    padding: 50px;
    gap: 45px;
    position: relative;
    width: 100vw;
    left: 0px;
    top: 200px;
    display: flex;
    flex-wrap: wrap;
  }

  .RealR8 {
    padding-left: 50px;

  }

  .Experiencedesc {
    text-align: center;
    position: relative;
    bottom: 250px;
    left: 130px;
    right: 40px;
    border: solid;
    color: rgba(255, 255, 255, 0.637);
    border-radius: 20px;
    width: 50vw;
    height: 100px;

  }

  .Experiencedesc p {
    line-height: 45px;
  }

  #Pagethree {

    padding-left: 00px;
    padding-top: 800px;

  }


  #biographyparButBetter {

    display: block;
    position: relative;
    top: 40px;
    left: 50px;
    width: 320px;

  }

  #Pagetwo {
    justify-content: center;
    padding-left: 150px;
    width: 0px;
    margin-top: 450px;
    flex-wrap: wrap;

  }

  .p2image {
    left: 15vw;
    padding: 0;

  }


  .quote {
    display: none;
  }

  .quote2 {
    display: none;
  }

  .quote3 {
    display: block;
    position: relative;
    left: 10%;
    top: 40px;

  }

  .quote4 {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
  }

  .quote5 img {
    width: 15px;
  }

  .quote6 img {
    width: 15px;
    margin-left: 85%;
  }

  #biographypar {
    display: none;
  }

  .wrapper {
    display: block;
  }

  .menu-btn {
    display: block;
  }

  .icon {
    display: inline-block;
  }

  .header ul li {
    display: none;

    height: 60px;
  }

  .logo li {
    display: inline-block;
  }

  .cheat a {
    display: inline-block;
  }

  #biographypar2 {
    display: block;
  }

  #PageOne {
    margin-left: 45px;
    padding-top: 100px;

  }

  .p1image img {
    width: 300px;
  }

  .p2image img {
    width: 270px;

  }

  .ligne3 {
    left: 173px;

  }

  .ligne4 {
    left: 250px;
  }

  .ligne7 {
    left: 153px;

  }

  .ligne8 {
    left: 230px;
  }

  .myname {
    padding: 0px;
    color: white;
    font-size: 30px;
  }

  .myname a {
    font-size: 80px;
  }


}

/* Animations */
@media screen and (min-width: 601px) {
  .hidden-up {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 3s;
  }

  .hidden-down {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 3s;
  }



  .hidden-left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 3s;
  }

  .hidden-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 3s;
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transform: translateX(0);

  }

  @media(prefers-reduced-motion) {
    .hidden {
      transition: none;
    }
  }

  .delay:nth-child(1) {
    transition-delay: 500ms;
  }

  .delay:nth-child(2) {
    transition-delay: 800ms;
  }

  .delay:nth-child(3) {
    transition-delay: 1000ms;
  }

  .delay:nth-child(4) {
    transition-delay: 1400ms;
  }

  .delay:nth-child(5) {
    transition-delay: 1700ms;
  }

  .delay:nth-child(6) {
    transition-delay: 2000ms;
  }
}